:root {
  --primary-text-color: #757575;
  --primary-bg-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-bg-color: #f5f4fa;
  --secondary-link-color: rgba(255, 255, 255, 0.6);
  --third-bg-color: #2f303a;
  --secondary-title-text-color: #000000;
}

/*Tag selectors*/

body {
  background-color: var(--primary-bg-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.list {
  list-style: none;
}

* {
  box-sizing: border-box;
}

/*Header*/

header {
  font-size: 14px;
  width: 1600px;
}

.navigation-item-studio:visited {
  color: var(--accent-color);
}

.header {
  display: flex;
  margin: 0px auto;
  height: 80px;
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
}

.navigation-list {
  display: flex;
  margin-left: 93px;
  align-items: center;
}

.company-name {
  color: var(--primary-bg-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.2;
  margin-left: 215px;
  margin-top: 24px;
}

.navigation-item,
.e-mail,
.phone-number {
  font-weight: 500;
}

.header-link:focus,
.header-link:hover {
  color: var(--accent-color);
}

.header-links {
  margin-top: 32px;
  margin-left: 331px;
}

.e-mail,
.phone-number {
  color: var(--primary-text-color);
}

.phone-number {
  margin-left: 50px;
}

.navigation-item {
  line-height: 1.14;
  color: var(--title-text-color);
  margin-right: 50px;
}

.navigation .navigation-item:focus,
.navigation .navigation-item:hover {
  color: var(--accent-color);
}

.phone-number,
.e-mail {
  line-height: 1.14;
}

.navigation > .company-name {
  color: var(--secondary-title-text-color);
}

nav {
  letter-spacing: 0.02em;
}

.navigation-item:active {
  color: var(--accent-color);
}

.web {
  color: var(--accent-color);
}

/* Main part */

.product-title {
  color: var(--title-text-color);
  line-height: 2;
  font-size: 18px;
}

.main-section-item p {
  line-height: 1.9;
  font-size: 16px;
}

.portfolio-title {
  color: var(--title-text-color);
}

.port-nav:visited {
  color: var(--accent-color);
}

.button-list {
  display: flex;
  /* margin-left: 646.5px; */
  margin: 0 auto;
  margin-top: 94px;
  padding-left: 0%;
  padding-bottom: 34px;
  width: 595px;
}

.first-btn {
  margin-left: 0%;
}

.portfolio-button {
  border: none;
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  padding: 6px 22px;
  cursor: pointer;
  margin-left: 8px;
}

.portfolio-button:hover {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}

.main-section-item {
  border: 1px solid #eeeeee;
}

.main-section-item-description {
  color: var(--primary-text-color);
}

.product-title {
  color: var(--title-text-color);
}

.portfolio-list {
  /* margin-left: 366.5px; */
  display: flex;
  width: 1176px;
  flex-wrap: wrap;
  padding-bottom: 95px;
  margin-bottom: 0%;
  padding-left: 0%;
  margin: 0 auto;
}

.main-section-item:first-child {
  margin-left: 0%;
}

/* .main-section-item:nth-child(4n + 0) {
  margin-left: 0%;
} */

.portfolio-title {
  text-align: center;
  font-size: 1px;
  color: var(--primary-bg-color);
}

.main-section-item {
  margin: 30px 0 0 30px;
}

.main-section-item-link {
  width: 370px;
}

.first-in-row {
  margin-left: 0%;
}

.first-btn {
  margin-left: 0%;
}

/*Footer*/

.adress-link {
  color: var(--secondary-link-color);
  line-height: 1.7;
  margin-bottom: 10px;
  display: inline-block;
}

.footer {
  background-color: var(--third-bg-color);
  width: 1600px;
  margin: 0px auto;
  height: 252px;
}

.footer-wrapper {
  background-color: var(--third-bg-color);
}

.company-footer {
  margin-bottom: 20px;
  display: inline-block;
  margin-top: 60px;
}

.adress {
  margin-left: 215px;
  font-style: normal;
}

.adress-link:hover,
.adress-link:focus {
  color: var(--accent-color);
}

.adress-link-adress {
  color: var(--primary-bg-color);
}
