:root {
  --primary-text-color: #757575;
  --primary-bg-color: #ffffff;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-bg-color: #f5f4fa;
  --secondary-link-color: rgba(255, 255, 255, 0.6);
  --third-bg-color: #2f303a;
  --secondary-title-text-color: #000000;
}

/*Tag selectors*/

body {
  background-color: var(--primary-bg-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.list {
  list-style: none;
}

* {
  box-sizing: border-box;
}

/*Header*/

header {
  font-size: 14px;
  width: 1600px;
}

.navigation-item-studio:visited {
  color: var(--accent-color);
}

.header {
  display: flex;
  margin: 0px auto;
  height: 80px;
  border-bottom: 1px solid #ececec;
}

.navigation {
  display: flex;
}

.navigation-list {
  display: flex;
  margin-left: 93px;
  align-items: center;
}

.company-name {
  color: var(--primary-bg-color);
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  letter-spacing: 0.03em;
  line-height: 1.2;
  margin-left: 215px;
  margin-top: 24px;
}

.navigation-item,
.e-mail,
.phone-number {
  font-weight: 500;
}

.header-link:focus,
.header-link:hover {
  color: var(--accent-color);
}

.header-links {
  margin-top: 32px;
  margin-left: 331px;
}

.e-mail,
.phone-number {
  color: var(--primary-text-color);
}

.phone-number {
  margin-left: 50px;
}

.navigation-item {
  line-height: 1.14;
  color: var(--title-text-color);
  margin-right: 50px;
}

.navigation .navigation-item:focus,
.navigation .navigation-item:hover {
  color: var(--accent-color);
}

.phone-number,
.e-mail {
  line-height: 1.14;
}

.navigation > .company-name {
  color: var(--secondary-title-text-color);
}

nav {
  letter-spacing: 0.02em;
}

.navigation-item:active {
  color: var(--accent-color);
}

.web {
  color: var(--accent-color);
}
/*Hero*/

.primary-button {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.9;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  /* margin: 350px 700px 200px; */
  font-weight: 700;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-title {
  margin: 0%;
}

.primary-button:hover {
  cursor: pointer;
}

.hero-title {
  color: var(--primary-bg-color);
  font-size: 44px;
  letter-spacing: 0.06em;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  /* padding-top: 200px;
  padding-bottom: 280px; */
}

.hero {
  background-color: var(--third-bg-color);
  width: 1600px;
  margin: 0px auto;
  height: 600px;
}

/*Our advantages*/

.our-advantages-title {
  color: var(--primary-bg-color);
}

.our-advantages-item h3 {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 0px;
}

.our-advantages p {
  line-height: 1.7;
  margin-top: 10px;
}

.our-advantages {
  font-size: 14px;
}

.our-advantages-list {
  display: flex;
  padding: 94px 215px;
  margin: 0%;
}

.our-advantages-item {
  width: 270px;
}

/*What we do*/

.what-we-do-title {
  color: var(--title-text-color);
  line-height: 1.2;
  font-size: 36px;
  text-align: center;
}

.what-we-do-list {
  display: flex;
}

.what-we-do-item {
  margin-left: 30px;
}

.what-we-do-item-first {
  margin-left: 0%;
}

/*Our Team*/

.our-team {
  background-color: var(--secondary-bg-color);
  height: 648px;
  width: 1600px;
  margin: 0px auto;
}

.our-team-List {
  display: flex;
  margin-bottom: 0%;
  margin-bottom: 40px;
  padding: 186px 215px 94px;
}

.team-member-name {
  color: var(--title-text-color);
}

.our-team-title {
  color: var(--title-text-color);
  font-weight: 700;

  line-height: 1.2;
  text-align: center;
  font-size: 36px;
}

.our-team-title {
}

.our-team-item-first {
  margin-left: 0%;
}

.team-member-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.our-team-item {
  font-weight: 500;
  font-size: 16px;

  background-color: var(--primary-bg-color);
  margin-left: 30px;
}

.our-team-item p {
  font-weight: 400;
  font-size: 16px;

  line-height: 1.2;
}

/*Footer*/

.adress-link {
  color: var(--secondary-link-color);
  line-height: 1.7;
}

.footer {
  background-color: var(--third-bg-color);
  width: 1600px;
  margin: 0px auto;
  height: 252px;
}

.footer-wrapper {
  background-color: var(--third-bg-color);
}

.adress {
  margin-left: 215px;
  font-style: normal;
}

.adress-link:hover,
.adress-link:focus {
  color: var(--accent-color);
}

.adress-link-adress {
  color: var(--primary-bg-color);
}

/* Portfolio CSS */

/*Tag selectors*/

body {
  background-color: var(--primary-bg-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}

.list {
  list-style: none;
}

* {
  box-sizing: border-box;
}

/* Main part */

.product-title {
  color: var(--title-text-color);
  line-height: 2;
  font-size: 18px;
}

.main-section-item p {
  line-height: 1.9;
  font-size: 16px;
}

.portfolio-title {
  color: var(--title-text-color);
}

.port-nav:visited {
  color: var(--accent-color);
}

.button-list {
  display: flex;
  margin-left: 646.5px;
  margin-top: 94px;

  padding-bottom: 34px;
}

.portfolio-button {
  border: none;
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  border-radius: 4px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  padding: 6px 22px;
  cursor: pointer;
  margin-left: 8px;
}

.portfolio-button:hover {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}

.main-section-item {
  border: 1px solid #eeeeee;
}

.main-section-item-description {
  color: var(--primary-text-color);
}

.product-title {
  color: var(--title-text-color);
}

.portfolio-wrapper {
  display: flex;
}

.portfolio-list {
  margin-left: 366.5px;
}

.portfolio-title {
  text-align: center;
  font-size: 1px;
  color: var(--primary-bg-color);
}

.main-section-item {
  margin: 30px 0 0 30px;
}

.main-section-item-link {
  width: 370px;
}

.product-title {
}
